div.row{float:none!important;display:block;position:relative}
th.column{padding:0;float:none;width:auto;position:inherit}
table.listing,table.sequencewidget,table.ordered-selection-field{width:inherit}
table.listing th:last-child{float:none!important}
table.listing tbody{word-break:break-all}
.template-atct_image_transform #content-core > div.label,.formQuestion.label{background:none transparent;padding:0;line-height:normal;text-align:left;position:static;margin:auto;white-space:normal;color:#000;font-size:inherit}
.formQuestion,#content input[type="checkbox"] + label,input[type="radio"] + label{display:inline}
label .label{background:none;font-size:inherit;padding:0;color:#4d4d4d}
#edit-bar ul{margin:0;font-size:inherit;top:-1px}
#edit-bar ul li{display:inline}
#edit-bar ul li a{line-height:19px}
#edit-bar dl{margin:0;font-size:inherit}
#edit-bar dl dt{margin-bottom:0}
#LSResult{position:absolute;right:0;background:#fff;z-index:99}
#LSResult fieldset{padding:1em 0 0;border:.1em solid #ccc}
#livesearchLegend{background-color:#ccc;padding:.3em}
#LSResult .LSDescr{font-size:85%;color:#666}
.LSRow,#LSNothingFound{display:block;padding:.5em 1em;white-space:normal;width:28em}
.LSHighlight{background:#ddd}
.configlets{list-style:none;margin-left:0}
.criteria dl.multipleSelectionWidget{background-color:#FAFAFA;border:1px solid #CCC;padding:.5rem;font-size:.875rem;border-radius:0;height:2.3125rem;margin-right:10px;width:auto}
.criteria dl.multipleSelectionWidget dt{border:none}
.criteria input.removecriteria{margin-left:5px;padding:10px;color:#fff!important}
.sortingField label{display:inline}